# Dependencies
node_modules/**
!node_modules/
!node_modules/@vscode/
!node_modules/@vscode/webview-ui-toolkit/**

# Source files
src/**
dist/**/*.map

# Development files
.git/**
.github/**
.vscode/**
.vscode-test/**
.gitignore
tsconfig.json
webpack.config.js
*.vsix

# Documentation
*.md
CHANGELOG.md
README.md

# Test files
test/**
coverage/**

# Misc
.DS_Store
**/.DS_Store
.env
.env.*
