.container {
  display: flex;
  gap: 40px;
  height: 100vh;
}

.settings,
.code-preview {
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto; /* 세로 스크롤 자동 */
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}

.prettier-studio-label {
  display: flex;
  justify-content: space-between;
}

.code-preview {
  flex: 3;
}

pre {
  border-radius: 5px;
  white-space: pre-wrap;
}

.hljs {
  background: none;
}

/* .overview {
  overflow: hidden;
} */
